* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Liberation Mono;
    min-height: 0.3rem;
    font-size: 0.9rem;
}

#workspaces,
#custom-mail,
#clock,
#cpu,
#memory,
#power-profiles-daemon,
#custom-power,
#pulseaudio,
#disk,
#backlight,
#battery,
#tray {
  background-color: rgba(56, 60, 74, 0.8);
}

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
    margin-right: 8px;
    border-radius: 10px;
    transition: none;
}

#workspaces button {
    transition: none;
    color: #7c818c;
    background: transparent;
    padding: 5px;
}

#workspaces button.persistent {
    color: #7c818c;
}

#workspaces button.active {
  background: #4F2799;
  color: #ffffff;
  border-radius: 13px;
  border-color: #A020FF;
  border-radius: 18px 18px 18px 18px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    border-radius: inherit;
    color: #383c4a;
    background: #7c818c;
}

#workspaces button.focused {
    color: white;
}

#custom-mail {
    margin-right: 8px;
    padding-right: 16px;
    border-radius: 0px 10px 10px 0px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}


#clock {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px 10px 10px 10px;
    transition: none;
    color: #ffffff;
}

#cpu {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
}
#memory {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
}
#power-profiles-daemon {
    margin-right: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 1rem;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
}
#custom-power {
    margin-right: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.1rem;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
}

#pulseaudio {
    margin-right: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 1rem;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
}

#pulseaudio.muted {
    color: #2a5c45;
}

#disk {
    margin-right: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
}

#backlight {
    margin-right: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
}

#battery {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
}

#battery.charging {
    color: #ffffff;
    background-color: #26A65B;
}

#battery.warning:not(.charging) {
    background-color: #ffbe61;
    color: black;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
